{% extends 'base.html' %}
{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
<div class="col-lg-6 offset-3 mt-3" style="height: 50.9vh; display: flex; flex-direction: column; justify-content: center;">
    <div class="box">
        <h3 class="heading">Password Reset</h3>
        <p class="lead">Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
        <form action="" method="post" onsubmit="return validateForm()">
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group">
                <label for="id_{{ field.name }}">{{ field.label }}</label>
                <input type="{{ field.field.widget.input_type }}" 
                       class="form-control"
                       name="{{ field.name }}"
                       id="id_{{ field.name }}"
                       placeholder="{{ field.field.widget.attrs.placeholder }}"
                       {% if field.field.required %} required {% endif %}>
            </div>
            {% endfor %}
            <br>
            <div class="text-center">
                <button type="submit" class="btn btn-outline-white-primary"><i class="fa fa-sign-in"></i> Submit </button><br>
            </div>
        </form>
    </div>
</div>

<script>
function validateForm() {
    var emailInput = document.getElementById("id_email"); // Change to the actual ID of the email input field
    var emailValue = emailInput.value;

    // Check if the email ends with @gmail.com or @email.com
    if (emailValue.endsWith("@gmail.com") || emailValue.endsWith("@email.com")) {
        return true; // Form submission will proceed
    } else {
        alert("Email address must end with @gmail.com or @email.com");
        return false; // Form submission will be prevented
    }
}
</script>

{% endblock %}
